@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//create a light theme and a dark theme for the website

@import "./variables";
@import "./scrollbar";
@import "./mixin";

@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primaryColor;
}

.navbar {
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0mm 8mm;

  .logo {
    position: absolute;
    top: 5dvh;
    left: 10dvh;
  }
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;

  position: absolute;
  top: 5dvh;
  right: 10dvh;

  button,
  a {
    background-color: transparent;
    border: none;
    color: $theme-color;
    font-size: 2.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
}

/* .navbar a{
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
} */

.home {
  height: 100%;
  width: 100%;
  margin: 2cm 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .textContainer {
    width: 60%;
  }

  .p1 {
    color: #fff;

    text-align: center;
    font-family: "Josefin Sans";
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .p2 {
    color: #fff;
    font-family: "Josefin Sans";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .btnContainer {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .btn {
    color: $secandoryColor;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    margin: 0px 1rem;

    &:hover {
      background-color: #1f2833;
    }
  }

  //   .btn{
  //     color: #FFF;

  // text-align: center;
  // font-family: "Josefin Sans";
  // font-size: 1.5625rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
  // text-decoration: none;

  //   }
}

.menu {
  background-color: #1f2833;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -100vh;
  right: 0;
  transition: top 0.5s ease;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  li {
    margin: 1rem 0;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    transition: all 0.3s ease;

    font-family: "Montserrat", sans-serif;
  }

  a:hover {
    color: #ffd16a;
  }

  .close {
    position: absolute;
    top: 94px;
    right: 120px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .close:hover {
    color: #ffd16a;
  }
}

.active {
  top: 0;
}

.about {
  h1 {
    @include heading();
  }

  .intro {
    color: $theme-color;
    font-size: 1.6rem;
    width: 80%;
    margin: 1cm auto;
    line-height: 35px;
    font-family: $font2;
    font-weight: 200;
  }
}

.hobbies {
  //write style for long hobby card with an img on left and text on right with heading, description and link
  display: flex;
  justify-content: space-evenly;

  .hobby {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    justify-content: space-evenly;
    margin-bottom: 2cm;
    background-color: #8a58ff66;
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    .hobbyImg {
      height: 100%;
      border-radius: 1rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // margin-bottom: 5mm;
      }
    }

    .hobbyText {
      margin-top: 3mm;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        color: #ffd689;
        font-size: 2.3rem;
        font-family: $font1;
        font-weight: 300;
      }

      p {
        color: $theme-color;
        font-size: 1.4rem;
        width: 100%;
        line-height: 35px;
        font-family: $font2;
        font-weight: 200;
      }

      a {
        color: #ffd689;
        font-size: 1.2rem;
        background-color: transparent;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        text-decoration: none;
        transition: all 0.3s ease;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        margin: 0 auto;
      }

      a:hover {
        color: #ffd16a;
      }
    }
  }
}

.football {
  a {
    text-decoration: none;
    color: #ffd16a;
    font-size: 1.4rem;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
  }

  a:hover {
    color: #fff;
  }

  .info_container {
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 2cm;

    p {
      color: $theme-color;
      font-size: 1.4rem;
      width: 100%;
      line-height: 35px;
      font-family: $font2;
      font-weight: 200;
      margin: 0 5mm;
    }
  }

  h1 {
    @include heading();
  }

  .img_container {
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.anime {
  h1 {
    @include heading();
  }

  .info_container {
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 2cm;

    p {
      color: $theme-color;
      font-size: 1.4rem;
      width: 100%;
      line-height: 35px;
      font-family: $font2;
      font-weight: 200;
      margin: 0 10mm;
    }
  }

  .img_container {
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .accordian {
    width: 80%;
    margin: auto;
    margin-bottom: 2cm;
    .accordian_item {
      background-color: rgba(255, 255, 255, 0.323);
    }

    .accordian_body {
      color: $theme-color;
      font-size: 1rem;
      width: 100%;
      line-height: 35px;
      font-family: $font2;
      font-weight: 200;
    }

    ol {
      display: flex;
      /* align-items: baseline; */
      justify-content: space-around;
      flex-direction: column;

      width: 100%;
      li {
        margin: 0 5mm;
      }
    }
  }
}

.projects {
  h1 {
    @include heading();
  }

  .project {
    width: 100%;
    background-color: #ffe6b84d;
    padding: 5mm;
    border-radius: 4mm;
    margin: 1cm 0;
  }

  .project_container {
    width: 80%;
    color: $theme-color;
    margin: auto;

    h2 {
      font-size: 2.5rem;
      font-family: $font2;
      font-weight: 300;
      margin-bottom: 5mm;
    }

    p {
      font-size: 1.2rem;
      width: 100%;
      line-height: 35px;
      font-family: $font1;
      font-weight: 200;
    }

    .project_text {
      a {
        text-decoration: none;
        color: #ffd16a;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        margin: 0 5mm;
      }

      a:hover {
        color: #fff;
      }
    }
  }
}

.contact {
  
    background-color: #ffffff36;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1cm;
    border-radius: 5mm;

   input, textarea{
    padding: 5px 15px;
    border-radius: 2mm;
    color: black;
    outline: none;
    /* color: #74e5e5; */
    font-size: 1.2rem;
    margin: 5mm 0;
    font-family: $font1;
   }

   h2{
    color: #ffd16a;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
   }

   .submit{
    outline: none;
    border: none;
    background-color: $primaryColor;
    color: white;
   }
  
}

@import "./mediaQueries";
