@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(15, 23, 42);
}

.navbar {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0mm 8mm;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
  position: absolute;
  top: 94px;
  right: 120px;
}
.navbar_right button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* .navbar a{
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
} */
.home {
  height: 100%;
  width: 100%;
  margin: 2cm 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .textContainer {
  width: 50%;
}
.home .p1 {
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home .p2 {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.home .btnContainer {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.home .btn {
  color: #ffd16a;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0px 1rem;
}
.home .btn:hover {
  background-color: #1f2833;
}

.menu {
  background-color: #1f2833;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -100vh;
  right: 0;
  transition: top 0.5s ease;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  list-style: none;
  text-align: center;
}
.menu li {
  margin: 1rem 0;
}
.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.menu a:hover {
  color: #ffd16a;
}
.menu .close {
  position: absolute;
  top: 94px;
  right: 120px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.menu .close:hover {
  color: #ffd16a;
}

.active {
  top: 0;
}

.about h1 {
  color: #ffd689;
  margin: 1cm auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.about .intro {
  color: white;
  font-size: 1.6rem;
  width: 80%;
  margin: 1cm auto;
  line-height: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.hobbies {
  display: flex;
  justify-content: space-evenly;
}
.hobbies .hobby {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
  margin-bottom: 2cm;
  background-color: rgba(138, 88, 255, 0.4);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.hobbies .hobby .hobbyImg {
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.hobbies .hobby .hobbyImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 5mm;
}
.hobbies .hobby .hobbyText {
  margin-top: 3mm;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hobbies .hobby .hobbyText h2 {
  color: #ffd689;
  font-size: 2.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.hobbies .hobby .hobbyText p {
  color: white;
  font-size: 1.4rem;
  width: 100%;
  line-height: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.hobbies .hobby .hobbyText a {
  color: #ffd689;
  font-size: 1.2rem;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 auto;
}
.hobbies .hobby .hobbyText a:hover {
  color: #ffd16a;
}

.football .info_container {
  width: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 2cm;
}
.football .info_container p {
  color: white;
  font-size: 1.4rem;
  width: 100%;
  line-height: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin: 0 5mm;
}
.football h1 {
  color: #ffd689;
  margin: 1cm auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.football .img_container {
  border-radius: 1rem;
  overflow: hidden;
}
.football .img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=master.css.map */